/* GLOBAL */

* {
  box-sizing: border-box;
  font-family: 'Mate', 'Garamond', serif;
}

img {
  max-width: 100%;
}

p,
li,
a {
  font-family: 'Mate', 'Garamond', serif;
  font-weight: 600;
  color: #405168;
}

a {
  color: #EEEEEE;
}

h1,
h2,
h3 {
  font-family: 'PT Sans Caption', Arial, sans-serif;
  font-variant: small-caps;
  letter-spacing: .1em;
  color: #405168;
}

h1 {
  text-align: center;
  color: #405168;
}

ul {
  list-style-type: none;
}

/* TABLE REPLACED WITH GRID */

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
}

.flex-grid-fourths {
  display: flex;
  justify-content: space-between;
}

.flex-grid-fourths .col p {
  text-align: center;
}

/* BANNER/WHY POGS */

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('img/hero-back.png');
  padding-bottom: 4em;
}

.why-pogs {
  padding: 0em;
  font-size: 1.5em;
  max-width: 100%;
  margin: 3.5em 2em;
}

.cd-headline span {
  font-size: 1.75em;
}

.pog-set .col img {
  align-content: center;
}

/* VIDEO */

.vid {
  text-align: center;
  background-color: #E9266A;
  padding-bottom: 4em;
}

.vid p {
  color: #FFFFFF;
  font-family: 'Mate', 'Garamond', serif;
  text-align: center;
}

.vid h1 {
  color: #FFFFFF;
}

/* EVENTS */

#events {
  background-color: #515C78;
  padding: 1.5em 0em;
}

.event-box {
  width: 200px;
  height: 200px;
  line-height: 40px;
  text-align: center;
  cursor: move;
  text-align: center;
  padding: 2px;
  box-shadow: 1px 1px 12px #E9266A;
  transition: all 0.3s ease-in-out 0s;
  margin: 0 auto;
  background-color: #FFFFFF;
}

/* SPECIAL */

.align-center {
  text-align: center;
  justify-content: center;
}

.lower {
  font-variant: normal;
}

.big {
  text-align: center;
  color: #FFFFFF;
}

.blink {
  color: #E9266A;
  font-variant: normal;
  font-family: 'Mate', 'Garamond', serif;
}

.hero h2 {
  color: #FFFFFF;
  background-color: #405168;
  background-image: url('img/hero-back.png');
  text-align: center;
  margin-bottom: 0;
  padding: 1em;
}

/* MEDIA Q */

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-fourths {
    display: block;
  }
  .col {
    width: 100%;
    margin: 0;
  }
  h1,
  h2,
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.3em;
  }
  .why-pogs {
    margin: 2em 2em;
  }
  .vid {
    padding: 1em 1em 2em 1em;
  }
  .vid h1 {
    margin: 0em 0em 1em 0em;
  }
  .why-pogs {
    font-size: .9em;
  }
}

/* FLIP */

.flip {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.flip img {
  height: auto;
}
